/* edit canvas attributes */
canvas {
  /* black border around grid */
  border: 3px solid black;
  margin: 20px;
}

/* Overlay dynamic dynamic canvas over static canvas*/
.container {
  position: relative;
}

#static-grid {
  /* add gridlines to 10x20 tetris board*/
  background-image: repeating-linear-gradient(0deg,transparent,transparent 35px,white 35px,white 36px),repeating-linear-gradient(-90deg,transparent,transparent 35px,white 35px,white 36px);

  background-color: #c4bce5;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

#dynamic-grid {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1; /* on top */
}
